body {
    min-height: 100vh;
    color: #333;
}

header {
    height: 56px;
}

main {
    height: 100%;
    padding: 16px 0;
}

footer {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #666;
    font-size: 75%;

    padding: 16px;
}

footer p {
    margin: 0;
}

.form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.sensor-icon-dashboard,
div.actuator-icon-dashboard {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.sensor-icon-dashboard svg,
div.actuator-icon-dashboard svg {
    width: 80px;
    height: 80px;
    fill: #444;
}

div.sensor-icon-history,
div.actuator-icon-history {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.sensor-icon-history svg,
div.actuator-icon-history svg {
    width: 80px;
    height: 80px;
    fill: #444;
}

#button-switch {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
}
#button-switch i {
    font-size: 2.5rem;
}

