body {
    min-height: 100vh;
    color: #333;
}

header {
    height: 110px;
}

header > div {
    padding-top: 56px;
}

main {
    height: 100%;
    padding: 16px 0;
}

footer {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #666;
    font-size: 75%;

    padding: 16px;
}

footer p {
    margin: 0;
}

.form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.sensor-icon-dashboard,
div.actuator-icon-dashboard {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
div.sensor-icon-dashboard svg,
div.actuator-icon-dashboard svg {
    width: 80px;
    height: 80px;
    fill: #444;
}

div.sensor-icon-history,
div.actuator-icon-history {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
div.sensor-icon-history svg,
div.actuator-icon-history svg {
    width: 80px;
    height: 80px;
    fill: #444;
}

#button-switch,
#button-switch-op {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
}
#button-switch,
#button-switch-op i {
    font-size: 2.5rem;
}
#button-switch:disabled,
#button-switch-op:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#actuator-icon-blind {
    width: 80px;
    height: 80px;
}

label.form-check-label i {
    font-size: 32px;
}

#fire-alarm-icon .on {
    -webkit-animation: shake 0.5s;
            animation: shake 0.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.table thead th {
    vertical-align: middle;
}

div.webcam-images {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
}
/* div.webcam-images > div {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
} */
img.webcam-image {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}

#webcam-1.presence > img,
#webcam-2.presence > img {
    border: 2px solid orange;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 2px #33333380;
}

#porta-principal-btn,
#garagem-btn {
    border: 1px solid #007bff;
    border-radius: 50%;
    background-color: #007bff;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#porta-principal-btn > i,
#garagem-btn > i {
    font-size: 24px;
    color: white;
}

