body {
    min-height: 100vh;
    color: #333;
}

header {
    height: 110px;
}

header > div {
    padding-top: 56px;
}

main {
    height: 100%;
    padding: 16px 0;
}

footer {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #666;
    font-size: 75%;

    padding: 16px;
}

footer p {
    margin: 0;
}

.form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.sensor-icon-dashboard,
div.actuator-icon-dashboard {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
div.sensor-icon-dashboard svg,
div.actuator-icon-dashboard svg {
    width: 80px;
    height: 80px;
    fill: #444;
}

div.sensor-icon-history,
div.actuator-icon-history {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
div.sensor-icon-history svg,
div.actuator-icon-history svg {
    width: 80px;
    height: 80px;
    fill: #444;
}

#button-switch,
#button-switch-op {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
}
#button-switch,
#button-switch-op i {
    font-size: 2.5rem;
}
#button-switch:disabled,
#button-switch-op:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#actuator-icon-blind {
    width: 80px;
    height: 80px;
}

label.form-check-label i {
    font-size: 32px;
}

#fire-alarm-icon .on {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
